%h1&= build.human_status

%form{ :action => build_path(build), :method => :post }
  %p.submit
    %button{ :type => :submit, :title => "Rebuild this commit" }<
      Rebuild

%blockquote
  %p&= build.commit.message
  %p.meta<
    %span.who<
      &== by: #{build.commit.author.name}
    |
    %span.when{ :title => build.commit.committed_at }<
      &= pretty_date build.commit.committed_at
    - if build.project.github?
      |
      %span.github<
        %a{ :href => github_commit_url(build.commit) } on GitHub

- if build.completed?
  %h2 Build Output:
  %pre.output
    :preserve
      #{bash_color_codes h(build.output)}
