%h1&= build.human_status

- if !build.pending? && !build.building? && build.failed?
  %form{ :action => build_path(build), :method => :post }
    %p.submit
      %button{ :type => :submit, :title => "Rebuild this commit" }<
        Rebuild

%blockquote
  %p&= build.commit.message
  %p.meta<
    %span.who<
      &== by: #{build.commit.author.name}
    |
    %span.when{ :title => build.commit.committed_at }<
      &= pretty_date build.commit.committed_at
    |
    %span.what<
      &== commit: #{build.commit.identifier}

- if !build.pending? && !build.building?
  %h2 Build Output:
  %pre.output
    :preserve
      #{bash_color_codes h(build.output)}

- unless build.building?
  %form{ :action => build_path(build), :method => :post }
    %input{ :name => "_method", :type => "hidden", :value => "delete" }
    %p.submit
      %button{ :type => :submit, :title => "Delete this build" }
        Delete build
