%h1&= build.human_status

%form{ :action => build_path(build), :method => :post }
  %p.submit
    %button{ :type => :submit, :title => "Rebuild this commit" }<
      Rebuild

%blockquote
  %p&= build.message
  %p.meta<
    %span.who<
      &== by: #{build.author}
    |
    %span.when{ :title => build.committed_at }<
      &= pretty_date build.committed_at
    - if build.project.github?
      |
      %span.github<
        %a{ :href => github_commit_url(build) } view on GitHub

- if build.completed?
  %h2
    Build Output
    %a{:href => build_path(build, :raw)} (raw)

  %pre.output
    :preserve
      #{bash_color_codes h(build.output)}
