- if @projects.empty?
  .blank_slate
    %p None yet, huh?
    %h1
      Why don't you
      = succeed "?" do
        %a{ :href => "/new" } create your first project
- else
  %ul#projects
    - @projects.each do |project|
      %li{ :class => cycle("even", "odd") + ' ' + project.status.to_s }
        %a{ :href => project_path(project) }&= project.name
        .meta
          - if project.building?
            Building!
          - elsif project.last_commit.nil?
            Never built yet
          - else
            == Built #{project.last_commit.short_identifier} #{pretty_date(project.last_commit.committed_at)} #{project.last_commit.successful? ? "successfully" : "and failed"}
  %p#new
    %a{ :href => "/new" } Add a new project
