!!! Strict
%html{ :lang => "en", :"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type" }
    %meta{ :content => "en", :"http-equiv" => "Content-Language" }
    %title= "#{@title.last} | integrity"
    %link{ :media => "screen", :type => "text/css", :href => "/reset.css", :rel => "stylesheet" }
    %link{ :media => "screen", :type => "text/css", :href => "/buttons.css", :rel => "stylesheet" }
    %link{ :media => "screen", :type => "text/css", :href => "/integrity.css", :rel => "stylesheet" }
    - unless @project.nil?
      %link{ :rel => "alternate", :type => "application/rss+xml", :title => "Build history RSS", :href => "#{project_url(@project)}.xml"}
    
  %body
    #header
      %h1= @title.join(" / ")
      %address.watermark
        checked with
        %a{ :href => "http://integrityapp.com", :title => "The fun continuous integration server" } integrity
    #content= yield
    - if Integrity.config && Integrity.config[:use_basic_auth]
      #footer
        - if authorized?
          Oh, hello
          %strong&= current_user
        - else
          Hey there!
          %a{ :href => "/login" } Log In
          if you have a user
