!!! Strict
%html{ :lang => "en", :"xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %meta{ :content => "text/html; charset=utf-8", :"http-equiv" => "Content-Type" }
    %meta{ :content => "en", :"http-equiv" => "Content-Language" }
    %title= "#{@title.last} | integrity"
    - stylesheets(:reset, :buttons, :integrity)
  %body
    #header
      %h1= @title.join(" / ")
      %address.watermark
        checked with
        %a{ :href => "http://integrityapp.com", :title => "The fun continuous integration server" } integrity
    #content= yield
    - if protect?
      #footer
        - if authorized?
          Oh, hello
          %strong&= current_user
        - else
          Hey there!
          %a{ :href => path("login") } Log In
          if you have a user
