.error
  %h1
    So... you don't know the password? Hmm... You can
    %a{ :href => path("/login") } try again
    or
    = succeed "." do
      %a{ :href => root_path, :rel => "home" } go back

  %dl
    %dt Er... So... I'm trying to login without a password...
    %dd
      Hey pal, sorry, but I can't let in anyone that isn't
      = succeed "." do
        %strong on the list
      I could lose my job you know? You'll have to come up with
      a valid password :-(

    %dt What can I do?
    %dd
      This just means that you can't access some part of this Integrity
      server, but that shouldn't let you out of some of the
      %a{ :href => root_path } awesome projects
      hosted here. If this was just a misunderstanding and you
      %strong do
      have a password, then
      = succeed "." do
        %a{ :href => path("/login") } click here to try again

    %dt
      So what the hell is
      = succeed "?" do
        %strong Integrity
    %dd
      Integrity is your friendly
      %a{ :href => "http://en.wikipedia.org/wiki/Continuous_integration" } Continuous Integration
      server. If you want to know more about us, check our website at
      = succeed "." do
        %a{ :href => "http://integrityapp.com" } integrityapp.com
