%h1
  Built
  &= @build.short_commit_identifier
  = @build.successful? ? "successfully" : "and failed"
%blockquote
  %p&= @build.commit_message
  %p.meta<
    %span.who<
      by:
      &= @build.commit_author.name
    |
    %span.when{ :title => @build.commited_at.iso8601 }<
      &= pretty_date @build.commited_at
    |
    %span.what<
      commit:
      &= @build.commit_identifier
    
%h2 Build Output:
%pre.output
  :preserve
    #{bash_color_codes @build.output}
