%h1
  = build.human_status
  - if build.building?
    - if build.human_time_since_start && !build.human_time_since_start.empty?
      &== for #{build.human_time_since_start}
  - elsif !build.pending?
    &== in #{build.human_duration}

%form{ :action => build_path(build), :method => :post }
  %p.submit
    %button{ :type => :submit, :title => "Rebuild this commit" }<
      Rebuild

%blockquote
  %p
    #{h(build.full_message).gsub("\n", '<br />')}
  %p.meta<
    %span.who<
      &== by: #{build.author}
    |
    %span.when{ :title => build.committed_at }<
      &= pretty_date build.committed_at
    - if build.project.github?
      |
      %span.github<
        %a{ :href => github_commit_url(build) } view on GitHub

- if build.completed?
  - if build.successful? && ! build.project.artifacts_empty?
    %h2
      Artifacts
      %blockquote
        %ul#artifacts
          - build_artifacts(build).each do |artifact, artifact_url|
            %a{ :title => "#{artifact}",
                :href => "#{project_path(build.project)}/builds/#{build.id}/artifacts/#{artifact_url}"} #{File.basename(artifact)}
            %br/

  %h2
    Build Output
    %a{:href => build_path(build, :raw)} (raw)
  
  %pre.output
    :preserve
      #{bash_color_codes h(build.output)}
